.commonStyle {
    font-family: 'Bookman Old Style', serif !important;
   
}
.commonButton{
    font-family: 'Bookman Old Style', serif !important;
}
.allHeading{
    font-family: 'Bookman Old Style', serif !important;
    font-weight: 700 !important;
 
}
.inputFeild{
    font-family: 'Bookman Old Style', serif !important;
    
}